<h3 style="color: red;">La liste des Equipes</h3>
<br>
<br>
<br>
<br>
<br>

<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <!--<div class="search-hero">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a hero by id or name or country">
      </div>-->
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Card tables</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">

              <thead class="thead-light">
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Niveau</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let e of listE | paginate: { itemsPerPage: 4, currentPage:p}">
                 <td>{{e.idEquipe}}</td>
                 <td>{{e.nomEquipe}}</td>
                 <td>{{e.niveau}}</td>
                 <!--Bouton Modifier-->
                 <td><button  class="btn btn-outline-primary" (click)="editEquipes()"
                  data-toggle="modal" data-target="#exampleModal">
                  Edit</button>
                 <button type="button" class="btn btn-outline-danger" (click)="deleteE(e.idEquipe)">
                  Delete</button>
                 </td>
                 
                </tr>
               
               
              </tbody>
            </table>
           
           

          </div>
          <pagination-controls 
            (pageChange)="p = $event" 
            class="float-right">
          </pagination-controls>
        
          <hr>
         
         
        </div>
      </div>
    </div>
   
  </div>

  
 