<h2 style="color: red;">Ajout d'un Departement</h2>
<br>
<br>
<br>
<br>
<!--*ngIf="form"-->
<!--<form [formGroup]="rf">
    <h6 class="heading-small text-muted mb-4">Ajouter un Projet</h6>
    <div class="pl-lg-4">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label" for="input-username">Id:</label>
            <input type="text" id="input-username" class="form-control form-control-alternative" 
            formControlName="idProjet"
            >
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label" for="input-email">Description:</label>
            <input type="text" id="input-username" class="form-control form-control-alternative"   
            formControlName="description"
            >
          </div>
        </div>
      </div>
      
    </div>
    <hr class="my-4" />
   
   <button class="btn btn-success" (click)="addProjet()">Save</button>
  </form>-->

  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="idDepart">Id</label>
        <input
          type="text"
          class="form-control"
          id="idDepart"
          required
          [(ngModel)]="dep.idDepart"
          name="idDepart"
        />
      </div>
  
      <div class="form-group">
        <label for="nomDepart">Nom de Departement</label>
        <input
          class="form-control"
          id="nomDepart"
          required
          [(ngModel)]="dep.nomDepart"
          name="nomDepart"
        />
      </div>
  
      <button (click)="saveD()" class="btn btn-success">Submit</button>
    </div>
  
    <div *ngIf="submitted">
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" (click)="newDepart()">Add</button>
    </div>
  </div>